@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
}
span, p, h1, h2, h3, h4, h5, h6{
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}
:root{
  --mainPadding: 10vw;
}
@media (width < 800px){
  :root{
    --mainPadding: 0px;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.nocopy {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pointer {
  cursor: pointer;
}

/*  input focus none  */

*:focus {
  outline: none;
}
textarea:focus, input:focus{
  outline: none;
}




/*  placeholder color of inputs  */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.44);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.44);

}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(255, 255, 255, 0.44);

}
